<%- include partials/head.ejs %>
    <main class="container">
        <section class="transaction-container">
            <span class="title-price"></span>
            <table>
                <thead>
                    <tr>
                        <th>Exchange</th>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody class="trade">
                </tbody>
            </table>
        </section>
    </main>

    <%- include partials/tail.ejs %>