* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.pin{
    margin-left: 1rem;
    padding: 1rem;
    border: none;
    background-color: coral;
}

.pinned-messages{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-width: 20em;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1rem;
}

.pinned-messages .pinned{
    width: 100%
}

.pinned-messages .pinned li:nth-of-type(odd){
    background-color: rgb(224, 223, 223);
}