*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html,body{
	height: 100%;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.title-price{
	display: flex;
	font-size: 10em;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.076);
	color: white;
}

.title-price::before{
	content: '$';
}

th, td{
	padding: 0.2rem 1.4rem;
}

th{
	font-size: 1.2em;
}

.trade tr:nth-of-type(even){
	background-color: #5ea9ff1c;
}

.transaction-container{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.transaction-container::after{
	content: '';
	position: absolute;
	height: 50vh;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: #f4f6f8;
}

.transaction-container::before{
	content: '';
	position: absolute;
	height: 50vh;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	background-color: #5eaaff;
}

thead{
	border-bottom: solid 0.2rem #5eaaff;
}

table{
	background-color: white;
}

.price::before{
	content: '$';
}

.coin-selection{
	margin-left: 4rem;
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.coin-selection p{
	margin-bottom: 1rem;
	font-size: 1.2em;
}

.coin-selection li{
	list-style: none;
}

.coin-selection li button{
	border: none;
	width: 100%;
	padding: 1rem;
	margin-bottom: 0.7rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.coin-selection li button:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.coin-selection li button.active{
	color: white;
	background-color: #5eaaff;
}